github "rutgerbousche/Loop" "master"
github "rutgerbousche/CGMBLEKit" "dev" 
github "i-schuetz/SwiftCharts" == 0.6.5
github "rutgerbousche/dexcom-share-client-swift" "master"
github "rutgerbousche/G4ShareSpy" "dev"
github "ps2/rileylink_ios" ~> 3.0
github "LoopKit/Amplitude-iOS" "decreepify"
